<section class="education_info">
  <div class="education_university-block">
    <h2>Образование</h2>
    <p class="education_university">Черкасский Государственный Технологический Университет</p>
    <p class="education_specialty">Строительный факультет, инженер-строитель </p>
    <p class="education_year">Год выпуска: 2012</p>
  </div>
  <div class="education_courses-block">
    <h2 class="education_courses-header">Курсы</h2>
    <div class="education_courses">
      <div class="education_course">
        <p class="education_university">Masters Academy</p>
        <p class="education_specialty">Frontend</p>
        <p class="education_year">Год выпуска: 2019</p>
      </div>
      <div class="education_course">
        <p class="education_university">EasyCode</p>
        <p class="education_specialty">Frontend + Angular</p>
        <p class="education_year">Год выпуска: 2020</p>
      </div>
    </div>
  </div>

</section>
